:root {
	--gold-color: #ffd8bf;
	--white: #ebe6e6;
	--gold-shadow: #a87961;
	--white-plain: #fff;
	--black: #202124;
	--black-plain: #000;
	--dark-gold: #9f6e57;
	--light-gold: #f9d2b8;
}

body {
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
	background-color: var(--white-plain);
	perspective: 580px;
	transition: all ease 0.5s;
	font-family: sans-serif;
	color: var(--white);
}

body:hover {
	perspective: 1500px;
}

.cube-wrapper {
	perspective: 100rem;
	transition: all ease 10s;
}

.cube {
	width: 854px;
	height: 598px;
	transform-style: preserve-3d;
	border-radius: 35px;
	/* transform: rotateY(-91deg); */
	transition: all 10s;
	transform: rotateZ(0) rotateX(0) rotateY(0);
}

.cube:hover {
	transform: rotateZ(0) rotateY(360deg) rotateX(0deg);
}

.front-side {
	/* transform: translateZ(1rem); */
	position: absolute;
	transform-style: preserve-3d;
}

.back-side {
	width: 100%;
	height: 100%;
	border-radius: 35px;
	background-color: var(--gold-color);
	transform: translateZ(-2px);
	transform-style: preserve-3d;
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.container-I {
	width: 854px;
	height: 598px;
	position: relative;
}

.container-I:hover {
	/* transform: rotateZ(0) rotateY(310deg) rotateX(90deg); */
}
.box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 854px;
	height: 598px;
}

.container {
	width: 854px;
	height: 598px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--gold-color);
	border-radius: 35px;
	object-fit: cover;
	object-position: 100% 100%;
}

.partition {
	display: grid;
	grid-template-rows: repeat(7, auto);
	border: 1px solid var(--gold-shadow);
	box-shadow: inset 0 2px 2px 0 var(--gold-shadow), inset 2px 0 2px 0 var(--gold-shadow),
		inset -2px 2px 2px 0 var(--gold-shadow), inset 0 -2px 2px 0 var(--gold-shadow);
	width: 780px;
	height: 330px;
	border-radius: 12px;
	margin-top: 30px;
}
.line-1 {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1% 0.5% 0 0.5%;
}
.f-key {
	display: flex;
	background-color: var(--black);
	border-radius: 5px;
	width: 48px;
	height: 23px;
	padding: 0;
	font-size: 0.2em;
	letter-spacing: -0.05em;
	align-items: flex-end;
	justify-content: center;
}

.esc {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-size: 0.7em;
}

.esc > span:first-of-type {
	margin-left: 4%;
}

.touch-id {
	width: 23px;
}

.line-2 {
	display: flex;
	justify-content: space-around;
	margin: 0 0.5% 0 0.5%;
}

.square {
	width: 45px;
	height: 45px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--black-plain);
	background-color: var(--black);
	border-radius: 5px;
	font-size: 0.9em;
}

.content {
	height: 100%;
}

.delete {
	font-size: 0.7em;
	width: 70px;
	justify-content: flex-end;
	align-items: flex-end;
}

.line-3 {
	display: flex;
	justify-content: space-around;
	margin: 0 0.5% 0 0.5%;
}

.tab {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 70px;
	font-size: 0.7em;
}

.line-4 {
	display: flex;
	justify-content: space-around;
	margin: 0 0.5% 0 0.5%;
}

.caps {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 86px;
	font-size: 0.7em;
}

.line-5 {
	display: flex;
	justify-content: space-around;
	margin: 0 0.5% 0 0.5%;
}

.shift {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	width: 110px;
	font-size: 0.7em;
}

.shift2 {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 110px;
	font-size: 0.7em;
}

.space-bar {
	width: 260px;
}

.arrow-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;
	font-size: 0.7em;
}

.down-arrows {
	display: flex;
	gap: 2px;
	font-size: 0.7em;
	align-items: center;
}

.command {
	width: 60px;
}

.font-size {
	font-size: 0.7em;
}

.arrow {
	align-items: center;
}

.fn {
	align-self: flex-end;
}

.sub-fn {
	align-self: flex-start;
}

.fn-last {
	align-self: flex-start;
}

.track-pad {
	margin: 1% 0;
	width: 320px;
	height: 220px;
	border: 1px solid var(--dark-gold);
	border-radius: 10px;
	background-color: var(--light-gold);
}

.section-1 {
	display: flex;
	justify-content: space-between;
}

/* 3D Animation part */
/* .front-side::before,
.front-side::after {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	background-color: var(--gold-color);
	border-radius: 35px;
}

.front-side::before {
	top: 0;
	left: 0;
	transform-origin: top;
	transform: rotateX(-90deg);
}
.front-side::after {
	bottom: 0;
	left: 0;
	transform-origin: bottom;
	transform: rotateX(90deg);
}
.back-side::before,
.back-side::after {
	content: '';
	width: 2px;
	height: 100%;
	position: absolute;
	background-color: var(--gold-color);
	border-radius: 35px;
}

.back-side::before {
	top: 0;
	left: 0;
	transform-origin: left;
	transform: rotateY(-90deg);
}
.back-side::after {
	top: 0;
	right: 0;
	transform-origin: right;
	transform: rotateY(90deg);
} */
